<%- include('parts/head') %>
    <%- include('parts/header') %>

        <!-- <div class="spacer"></div> -->

        <%- include('elements/01_caroussel') %>

            <div class="row m-0 p-0">
                <a class="arrows mx-auto" href="#sec2" data-ga-category="home" data-ga-action="arrows" data-ga-label="devices">
                    <i class="fas fa-angle-double-down"></i>
                </a>
            </div>

            <%- include('elements/02') %>



                <div class="row m-0 p-0">
                    <a class="arrows mx-auto" href="#sec3" data-ga-category="home" data-ga-action="arrows" data-ga-label="devices">
                        <i class="fas fa-angle-double-down"></i>
                    </a>
                </div>

                <%- include('elements/03') %>


                    <div class="row m-0 p-0">
                        <a class="arrows mx-auto" href="#sec4" data-ga-category="home" data-ga-action="arrows" data-ga-label="devices">
                            <i class="fas fa-angle-double-down"></i>
                        </a>
                    </div>

                    <%- include('elements/04') %>


                        <div class="row m-0 p-0">
                            <a class="arrows mx-auto" href="#sec5" data-ga-category="home" data-ga-action="arrows" data-ga-label="devices">
                                <i class="fas fa-angle-double-down"></i>
                            </a>
                        </div>

                        <%- include('elements/05') %>

                            <!-- </div> -->
                            <%- include('parts/footer') %>